@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4">
                <p class="card-text">
                    Contoso University is Nigeria's best university in computing and 
                    artificial intelligence (AI) learning. We rank number 1 in the 
                    Nigerian Universities Commission (NUC) webometrics ranking for 
                    3 years straight and we're not stopping....anytime soon....
                    THis is made with Entity Framework cum Razor pages...
                </p>
            </div>
        </div>
    </div><!--end first column -->
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    We are going to build amazing applications in this Entity Framework
                    and Razor pages series... Just patiently and consciously follow me on this journey

                </p>
                <p>
                    <a href="https://docs.microsoft.com/aspent/core/data/ef-rp/into" class="stretched-link">See the tutorial here</a>
                </p>
            </div>
        </div>
    </div><!--close 2nd column...-->
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    You can download the completed project from GitHub.
                </p>
                <p>
                    <a href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-rp/intro/samples" class="stretched-link">See project source code</a>
                </p>
            </div>
        </div>
    </div><!-- close 3rd column here -->
</div><!-- Close row --!
